.badge-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  & > .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 150px;

    p {
      text-align: center;
    }
  }
}

.badge {
  position: relative;

  .badge-image {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    margin-right: 15px;    
    width: 100px;
  }
  .edit-button {
    position: absolute;
    right: 0;
    top: 20px;

    i {
      font-size: 22px;
    }
  }
}