.event-page {
  .masthead {
    background-size: cover !important;
    min-height: 550px;
  }
  .body-image {
    margin-top: 30px !important;
    min-height: 400px;
  }
  .text {
    margin: 40px 0;
  }
}