.about-us-form {
  .field {
    position: relative;
  }
}

.add-more {
  display: flex;
  justify-content: center;

  i {
    margin: 0;
  }
}

.remove-element {
  left: -50px;
  position: absolute;
  top: -10px;
}