.dashboard {
  margin-top: 50px;

  .headline {
    margin: 30px 0;
  }

  .list {
    .item {
      position: relative;
    }
  }
  
  .actions {
    position: absolute;
    right: 0;
    top: 20px;
  }
}