.homepage {
  .about-us {
    .element {
      margin-bottom: 30px;
    }
  }
  .dm-list {
    .bio {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}