.homepage {
  .hero-banner {
    .masthead {
      background-size: cover;
      min-height: 550px;
    }
  }
  .about-us {
    .element {
      margin-bottom: 30px;
    }
  }
  .dm-list {
    .profile {
      img {
        max-width: 200px !important;
      }
    }
    .bio {    
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
}